@{
    ViewBag.Title = "Cargo4You - About";
}
<h2>@ViewBag.Title.</h2>
<h3>Hi!</h3>

<p>This web app is made by Samuel Borg with the aim to improvise my skills in developing an MVC design pattern applicatiomn the within .NET framework.</p>
<p>For more info visit <a href="http://samuelb.org">my personal website</a>.</p>

